body {


}

#couve1 h1 {
  background-color: white;
  font-size: 120px;
  color: rgb(244, 110, 92);

}

#couve2 {
  background-color: rgb(204, 195, 47);
}

#couve3 {
  background-color: rgb(204, 195, 47);
}

#couve4 {
  background-color: white;
}

#garde h1 {
  font-size: 40px;
  color: rgb(204, 195, 47);

}

p {
  text-align: justify;
  font-size: .8em;
  font-family: helvetica;
  margin: 0px;
}

#readme p {
  text-align: justify;
  top: 10%;
  text-align: right;
  font-size:.7em;
  font-family: helvetica;
}

#readme h1 {
  font-family: helvetica;

}

#readme h2 {
  font-size: 1em;
  font-family: helvetica;
}

#readme h3 {
  font-size: 0.8em;
  font-family: helvetica;
}

#readme ol{
  column-count: 2;
}

#règles-de-sabotage {
  width: 50%;
  font-family: helvetica;
}

#règles-de-correction {
  width: 50%;
  font-family: helvetica;
}

#liste-des-participants {
  width: 50%;
  font-family: helvetica;
}


#text-01 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: rgb(204, 195, 47);
  font-size: 20px;
}

#text-02 h1 {
  text-align: center;
  color: rgb(244, 110, 92);
  font-family: sans-serif;
  font-size: 50px;
}

#text-02 p {
  padding: 0% 5%;
  margin-left: 30%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;

}

#text-03 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: rgb(244, 110, 92);
  font-size: 20px;

}

#text-04 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;
  font-style: italic;
}

#text-05 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: black;
  color: white;
  font-size: 20px;
  font-variant: small-caps;
}

#text-06 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: rgb(244, 110, 92);
  color: white;
  font-size: 20px;


}

#text-07 p {
  padding: 0% 5%;
  margin-left: 33%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: rgb(204, 195, 47);
  font-size: 20px;
  color: white;

}

#text-08 p {
  padding: 0% 5%;
  margin-left: 42%;
  border-color: black;
  border-width: thick thin medium thin;
  color: rgb(204, 195, 47);
  font-size: 20px;
  font-style: italic;
}

#text-09 h1{
  font-size: 50px;
  text-align: center;
  color: rgb(204, 195, 47);
  font-variant: small-caps;
}
#text-09 p {
  padding: 0% 5%;
  margin-left: 30%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;

}

#text-10 p {
  padding: 0% 5%;
  margin-left: 35%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: rgb(244, 110, 92);
  font-size: 20px;

}
#text-10 img {
  width: 50px;
  display: inline;
  left: 0px;
}

#text-11 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;
  font-style: italic;
}

#text-12 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: black;
  color: white;
  font-size: 20px;
  font-variant: small-caps;
}

#text-13 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: white;
  color: black;
  font-size: 20px;

}

#text-14 h1{
  font-size: 50px;
  text-align: center;
  color: rgb(244, 110, 92);
}

#text-14 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: black;
  color: white;
  font-size: 20px;


}

#text-15 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: rgb(204, 195, 47);
  color: white;
  font-size: 20px;
}

#text-16 li {
  padding: 0% 5%;
  margin-left: 38%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  font-family: helvetica;
  font-size: 20px;
  color: rgb(244, 110, 92);
}

#text-17 p {
  padding: 0% 5%;
  margin-left: 30%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;

}

#text-18 h1{
  font-size: 50px;
  text-align: center;
  color: black;
}

#text-18 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: rgb(244, 110, 92);
  font-size: 20px;

}

#text-19 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  color: black;
  font-size: 20px;
  font-style: oblique;
}

#text-20 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: black;
  color: white;
  font-size: 20px;
  font-stretch: ultra-condensed;
}

#text-21 h1{
  width: 40%;
  text-align: center;
  float: left;
  font-size: 50px;
  color: black;
}

#text-21 p {
  width: 60%;
  margin-right: 5%;
  margin-left: 40%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: rgb(204, 195, 47);
  color: white;
  font-size: 17px;
  text-align: justify;
}

#text-21 p img {
  /* position: sticky;
  bottom: 0px; */
  margin: auto;
  margin-bottom: 15%;
  margin-top: 10%;
  height: 280px;
}

#text-22 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: white;
  border-color: black;
  border-width: thick thin medium thin;
  background: white;
  color: rgb(244, 110, 92);
  font-size: 20px;

}

#text-23 p {
  padding: 0% 5%;
  margin-left: 42%;
  background: rgb(204, 195, 47);
  color: white;
  font-size: 20px;
  letter-spacing: 0.25em;
  text-align: left;
}

#text-24 p {
  margin-left: 42%;
  color: white;
  font-size: 18px;
  background: rgb(244, 110, 92);
  line-height: 16px;
}

#readme li {
  background: white;
  font-family: helvetica;
}

img {
  width: 70%;
  height: 70%;
  object-fit: scale-down;
  filter: grayscale(50%);
}


ol {
   font-size: .73em;
}
