#couve1 {
  background-color: rgb(0, 0, 0);
}
#couve4 {
  background-color: rgb(0, 0, 0);
}

#couve4 header{
  color: white;
  text-align : center;
  font : 50px ;
}
#couve3 header{
  color: rgb(0, 0, 0);
}
#readme header{
  color: rgb(8, 8, 8);
}
#garde3 header{
  color: rgb(25, 25, 25)
}
#text-24 header{
  color: rgb(33, 33, 33);
}
#text-23 header{
  color: rgb(42, 42, 42);
}
#text-22 header{
  color: rgb(50, 50, 50);
}
#text-21 header{
  color: rgb(59, 59, 59);
}
#text-20 header{
  color: rgb(67, 67, 67);
}
#text-19 header{
  color: rgb(76, 76, 76);
}
#text-18 header{
  color: rgb(84, 84, 84);
}
#text-17 header{
  color: rgb(93, 93, 93);
}
#text-16 header{
  color: rgb(101, 101, 101);
}
#text-15 header{
  color: rgb(110, 110, 110);
}
#text-14 header{
  color: rgb(118, 118, 118);
}
#text-13 header{
  color: rgb(127, 127, 127);
}
#text-12 header{
  color: rgb(135, 135, 135);
}
#text-11 header{
  color: rgb(144, 144, 144);
}
#text-10 header{
  color: rgb(152, 152, 152);
}
#text-09 header{
  color: rgb(161, 161, 161);
}
#text-08 header{
  color: rgb(169, 169, 169);
}
#text-07 header{
  color: rgb(178, 178, 178);
}
#text-06 header{
  color: rgb(186, 186, 186);
}
#text-05 header{
  color: rgb(195, 195, 195);
}
#text-04 header{
  color: rgb(203, 203, 203);
}
#text-03 header{
  color: rgb(212, 212, 212);
}
#text-02 header{
  color: rgb(220, 220, 220);
}
#text-01 header{
  color: rgb(229, 229, 229);
}
#garde header{
  color: rgb(246, 246, 246);
}

#readme h1{
  color: rgb(8, 8, 8);
  text-align: center;
  font-stretch: expanded;
}
#text-18 h1{
  color: rgb(84, 84, 84);
  font-size: 150pt;
  text-align: center;
}
#text-14 h1{
  color: rgb(118, 118, 118);
  font-size : 80pt
}
#text-09 h1{
  color: rgb(161, 161, 161);
}
#text-02  h1{
  color: rgb(220, 220, 220);
}
#garde h1{
  color: rgb(246, 246, 246);
}
#couve1 h1{
  color: rgb(255, 255, 255);
  text-align : center;
  font : 50px ;
}

#readme h2{
  color: rgb(8, 8, 8);
}

#readme h3{
  color: rgb(8, 8, 8);
}

#readme p{
  color: rgb(8, 8, 8);
  font-size: small;
}
#text-24 p{
  color: rgb(33, 33, 33);
  margin : 70px 70px;
  text-align: justify;
}
#text-23 p{
  color: rgb(42, 42, 42);
  margin : 100px 100px;
  text-align: center;
}
#text-22 p{
  color: rgb(50, 50, 50);
  margin : 200px 200px;
}
#text-21 p{
  color: rgb(59, 59, 59);
}
#text-20 p{
  color: rgb(67, 67, 67);
  text-align: justify;
  margin : 20px 227px;
  font-size: 14pt;
}
#text-19 p{
  color: rgb(76, 76, 76);
  text-align: center;
  margin : 800px 20px;
  font-size: 6pt;
}
#text-18 p{
  color: rgb(84, 84, 84);
  text-align: justify;
  font-size: 6pt;
}
#text-17 p{
  color: rgb(93, 93, 93);
  margin : 85px;
  text-align: right;
}
#text-15 p{
  color: rgb(110, 110, 110);
  margin : 120px 50px
}
#text-14 p{
  color: rgb(118, 118, 118);
  margin : 50px;
  font-size: 10pt
  text-align : center;
}
#text-13 p{
  color: rgb(127, 127, 127);
  margin : 20px 280px;
  text-align: center;
}
#text-12 p{
  color: rgb(135, 135, 135);
  margin : 120px 120px;
  text-align: justify;
  font-size: 8pt;
}
#text-11 p{
  color: rgb(144, 144, 144);
  margin : 100px 250px;
  text-align: justify;
}
#text-10 p{
  color: rgb(152, 152, 152);
  text-align: center;
  margin : 50px 50px
}
#text-09 p{
  color: rgb(161, 161, 161);
  margin : 50px 200px;
  text-align: justify;
}
#text-08 p{
  color: rgb(169, 169, 169);
  margin : 700px 200px;
  text-align: justify;
}
#text-07 p{
  color: rgb(178, 178, 178);
  margin : 440px 200px;
  text-align: center;
}
#text-06 p{
  color: rgb(186, 186, 186);
  margin : 50px 200px;
  text-align: center;
}
#text-05 p{
  color: rgb(195, 195, 195);
  margin : 10px 20px;
}
#text-04 p{
  color: rgb(203, 203, 203);
  margin : 200px 50px;
}
#text-03 p{
  color: rgb(212, 212, 212);
  margin : 120px 600px
}
#text-02 p{
  color: rgb(220, 220, 220);
  margin : auto 50px;
  text-align: justifyr;
}
#text-01 p{
  color: rgb(229, 229, 229);
  margin : 200px 50px;
  text-align: center;
}

#text-16 ul{
  color: rgb(101, 101, 101);
  text-align: justify;
  margin : 300px 20px;
}

#text-10 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  text-align: center;
  height: auto;
  outline: inherit;
  filter: grayscale(100%);
}
#text-20 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  text-align: center;
	height: auto;
  outline: inherit;
	filter: grayscale(100%);
}
#text-21 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
	height: auto;
  outline: inherit;
  filter: contrast(1.95);
}
#text-23 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  text-align: center;
	height: auto;
  outline: inherit;
	filter: grayscale(100%);
}

#text-19 strong{
  font-size: 50pt;
}
#text-16 strong{
  font-size: 50px
}
#text-13 strong{
  font-size : 30pt;
}
#text-12 strong{
  font-size: 30pt;
}

#text-20 figcaption{
  margin : 15px 290px;
  font-size: 20px;

}

#readme li{
  font-size: small;
}

#règles-de-sabotage {
  font-size: 20px;
}
#règles-de-correction {
  font-size: 20px;
}
#liste-des-participants {
  width: 50%;
  text-align: center;
  margin : 25px 190px;
}

#readme ol{
  column-count: 2;
}
#couve3 ol{
  margin : 50px 260px;
  text-align: center;
}
