 body{
  font-family: Arial, 'comic sans ms';
  font-size: 19px;
  color: white;
 }

.paper{
  background-color: black;
}

.page-header{
	font-size: 260px;
	color: yellow;
	font-family: 'times new roman';
}

 h1{
 	font-size: 128px;
 	text-shadow: 2px 2px black;
 }

 p{
 	line-height: 150%;
 	padding-right: 50px;
 	padding-left: 50px;
 	text-shadow: 2px 2px black;
 	text-align: justify;
 }

 img{
 	float: right;
 	margin: 10px;
 	opacity: 0.5;
 }

 strong{
 	font-size: 8px;
 	text-decoration: underline;
 	text-decoration-style: dotted;
 }

 em{
 	font-size: 35px;
 }

 #readme{
 	font-size: 10px;
 	line-height: 0px;
 }

 #readme header{
 	line-height: normal;
 }

 #readme h1{
 	margin-top: -5px;
 }
 

 #readme li, #readme p{
 	margin-bottom: -3px;
 	text-shadow: 2px 2px black;

 }

 #readme p{
 	font-weight: bold;
 }