.paper {
  background-color: white;
  color: black;
}

.head {
font-size: 60px;
font-weight: bold;
text-align: left;
}

.body {
position: absolute;
font-family: sans-serif;
font-size: 15px;
text-align: justify;
vertical-align: bottom;
white-space: normal;
}

.page-header {
position: absolute;
text-align: center;
font-size: 12px;
font-weight: normal;
font-family: serif;
}

#juloen {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
#vas-y {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
#j-n-cmprnds-rn{
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
#libre{
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
#readme{
  font-weight: normal;
  font-style: normal;
  text-align: left;
  white-space: nowrap;
}
#onsegit1819{
  font-size: 24px;
}
#atelier-décriture-git-2018-2019{
  font-size: 21px;
}
#le-principe-général{
  font-size: 18px;
}
#règles-de-sabotage{
  font-size: 18px;
}
#règles-de-correction{
  font-size: 18px;
}
