/**
 * Macro-structure
 * ===============
 */

.body,
.body:before,
.body:after { position: absolute; }

.body:before,
.body:after { z-index: 500; }


/**
 * Zone de composition principale
 * ------------------------------
 */


.body {
    top: $page-margin-top;
    // bottom: $page-margin-bottom;
    width: $body-width;
    height:$body-height;
    z-index: 498;
    overflow :hidden;
}

// img{max-width:100%;}

/* TODO: move into grid.less? */
// .bloc { position: absolute; z-index: 500; }
// .debug .header,
// .debug .footer,
// .debug .body,
// .debug .bloc { outline: 1px solid purple; }

/**
 * Pieds de page
 * -------------
 */

.page:before,
.page:after {
    display: block;
    font-family: sans-serif;
    font-size: 6pt;
    line-height: $line-height;
    letter-spacing: 0.25pt;
    z-index: 500;
    position: absolute;
}

.page:before,
.page:after { bottom: 5mm; }

.page:after  {
  content: counter(folio);
}
.paper:nth-child(1), .paper:nth-child(2){
  .page:after{
    content:'';
  }
}

/*gauche*/
.paper:nth-child(odd){
  .page:before {
    // content: "Cuisine graphique";
  }
  .page:after{
    left:1cm;
    text-align: right;
  }
}
/*droite*/
.paper:nth-child(even){
  .page:before {
    // content: "Cuisine graphique";
  }
  .page:after{
    right:1cm;
    text-align: right;
  }
}



/**
 * Miroir
 * -------
 */

/**
 * Placement en miroir des éléments en fonction de si ils se trouvent sur une
 * page paire ou une page impaire, en utilisant le pseudo-sélecteur `nth-child`
 */

html:not(.facing) .paper:nth-child(odd) .body,
html.facing .paper:nth-child(even) .body {
    right: $page-margin-outside;
    left: $page-margin-inside;
}

html:not(.facing) .paper:nth-child(even) .body,
html.facing .paper:nth-child(odd) .body {
    left: $page-margin-outside;
    right: $page-margin-inside;
}

html:not(.facing) .paper:nth-child(odd) .body:before,
html.facing .paper:nth-child(even) .body:before {
    @extend .x1;
    @extend .w4;
}
html:not(.facing) .paper:nth-child(even) .body:before,
html.facing .paper:nth-child(odd) .body:before {
    @extend .x5;
    @extend .w4;
}
html:not(.facing) .paper:nth-child(odd) .body:after,
html.facing .paper:nth-child(even) .body:after {
    @extend .x5;
    @extend .w1;
    text-align: left;
}
html:not(.facing) .paper:nth-child(even) .body:after,
html.facing .paper:nth-child(odd) .body:after {
    @extend .x1;
    @extend .w1;
    text-align: left;
}


#flow-main {
    -webkit-flow-into: flow-main;
            flow-into: flow-main;
}

.flow-main {
    -webkit-flow-from: flow-main;
            flow-from: flow-main;
}

.page-header,
.page-footer{
  position: absolute;
  left:0;
  height:1cm;
  width:100%;
  box-sizing: border-box;
  padding:2mm;
  font-size: 9px;
  text-align: center;
}
.page-header{
  top:0;
}
.page-footer{
  bottom: 0;
}
#couve1, #garde{
  h1{
    text-align: center;
    margin-top:10cm;
  }
}
