#couve1 {
  background-color: black;
}
#couve1 h1{
  color: white;
  border: 1rem solid;
  border-style: dashed solid;
  border-color: white;
  background-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: 300%;
}
#couve2 {
  background-color: black;
}

#garde header {
  color: white;
  border: 1rem solid;
  border-style: dashed;
  border-color: white;
  background-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: x-large
}
#garde h1 {
  color: white;
  border: 1rem solid;
  border-style: dashed double;
  border-color: white;
  background-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: xx-large;
}

#text-01 p{
  text-align: center;
  width: 8em;
  border: 1rem solid;
  border-style: none solid double solid;
  margin-left: auto;
  margin-right: auto;
    font: 1.2em "Fira Sans", sans-serif;
    font-size: small;
}

#text-02 h1{
border: 10rem solid;
border-style : none solid double solid;
text-align: center;
    font: small-caps bold 24px/1 sans-serif;
  font-size: xx-large;

}
#text-02 p{
border: 10rem solid;
border-style : none none solid none;
text-align: justify;
  /*font: 1.2em "Fira Sans", sans-serif;*/
  font-size: large;
}

#text-03 header{
  background-color: black;
  color: white;
}
#text-03 p {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  border: 10rem solid;
  border-style: solid none solid none;
    font: 1.2em "Fira Sans", sans-serif;
}
#text-04 header{
background-color: black;
}
#text-04 p{
  /*font: 1.2em "Fira Sans", sans-serif;
  border: 10rem solid;
  border-style: solid none none none ;
  border-color: white;*/
  width: 6em;
  font-size: large;
}

#text-05 {
  background-color: black;
}
#text-05 p {
  color: white;
  margin: 10px 50px 20px;
  box-decoration-break: slice;
-webkit-box-decoration-break: slice;
box-shadow: 8px 8px 10px 0 #ff1493, -5px -5px 5px 0 #0ff, 5px 5px 15px 0 #ff0;
font: 1.2em "Fira Sans", sans-serif;
border: 10rem solid;
border-style: solid none none none ;
border-color: black;
}
#text-06 {
  background-color: black;
}
#text-06 p {
/*color: red;*/
color: white;
  font: 1.2em "Fira Sans", sans-serif;
  border: 10rem solid;
  border-style: hidden dotted dashed inset;
  text-align: justify;
}

#text-07 p{
  font: 1.2em "Fira Sans", sans-serif;
    border: 1rem;
  border-style: none none dotted none;
    transform: translate(100px, 50%);
    margin-left: auto;
    margin-right: auto;
    width: 25em;

}

#text-08 p{
  border: 60rem;
  border-top: solid;
  border-color: white;
    transform: translate(100px, 50%);
    font: 1.2em "Fira Sans", sans-serif;
  width: 152px;
   border-bottom: solid;
   border-width: 1em;
}

#text-09 p{
  font: 1.2em "Fira Sans", sans-serif;
 text-align: justify;
}
#text-09 h1{
  font: small-caps bold 24px/1 sans-serif;
  text-align: center;
  font-size: large;
  border-style: double none double none;
  border-width: 10em;
}

#text-10 {
  background-color: black;
  /*background: content-box radial-gradient(white, black);*/
}
#text-10 img {
  max-width: 40%;
  	height: auto;
    outline: inherit;
border-style: none solid none solid;
border-width: 14em;
  border-color: black;
  filter: contrast(1.95);
}
/*#text-10 [img alt="goeland"]{
  border-top: 1em solid;*/
}
#text-10 p{
  color: white;
  text-align: center;
  font-size: 93%;
}

#text-11 p{
  font: 1.2em "Fira Sans", sans-serif;
    text-indent: 5em;
    text-emphasis: filled double-circle black;
-webkit-text-emphasis: filled double-circle black;
border-style: dotted none dotted none;
border-width: 1em;
}

#text-12 p{
  font: 1.2em "Fira Sans", sans-serif;
  writing-mode: vertical-rl;
text-orientation: upright;

}

#text-13 p{
  font: 1.2em "Fira Sans", sans-serif;
  text-transform: uppercase;
  border-width: 15px;
  border-style: dotted;
  font-weight: bold;
}
#text-13 strong{
  font-size: 550%;
  text-align: center;
    margin: 20px 50px 20px;
}

#text-14 h1{
  text-align: center;
  font-size: xx-large;
  font: small-caps bold 24px/1 sans-serif;
}
#text-14 p{
  color: white;
  border: 1rem solid;
  border-style: dashed double;
  border-color: white;
  background-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: x-large;
  text-align: center;
}

#text-15 {
  background-color: black;
}
#text-15 p{
  color: white;
  border: 1rem solid;
  border-style: dashed solid;
  border-color: white;
  background-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: x-large;
/*text-align: justify;*/

}

#text-16 li {
  width: 8em;
}
#text-16 em{
  color: red;
  font-size: 50px;

}

#text-17 .body{
  /*margin-top: 2rem;*/
  column-count: 5;
  /*column-gap: 1rem;*/
}
#text-17 {
  background-color: black;
}
#text-17 p{
  color: white;
  font: 1.2em "Fira Sans", sans-serif;
  text-emphasis: filled double-circle white;
border-top: dotted;
border-bottom: dotted;
writing-mode: vertical-rl;
text-orientation: upright;
border-width: 10px;
-webkit-text-emphasis: filled double-circle white;
}

#text-18 p{
  font: 1.2em "Fira Sans", sans-serif;
  text-emphasis: 'x';
-webkit-text-emphasis: 'x';
  font-weight: 400;
  text-shadow: black 2px 250px;
}
#text-18 h1{
  border-left: 15em solid;
}

#text-19 header{
  background-color: black;
  color: white;
}
#text-19 strong {
  border: double;
}
#text-19 p {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  /*border: double none groove none;*/
}
#text-20 img {
  outline: inherit;
}
#text-20{
background-color: black;
}
#text-20 figcaption{
  font: small-caps bold 24px/1 sans-serif;
  font-size: xx-large;
  background-color: white;
}
#text-20 p{
  font: 1.2em "Fira Sans", sans-serif;
  font-size: small;
  background-color: white;
}

#text-21 {
  background: content-box radial-gradient(white, gold);
  text-align: center;
}
#text-21 h1{
  text-align: center;
}
#text-21 p{
  text-align: center;
}
#text-21 img {
  max-width: 45%;
	height: auto;
  outline: inherit;
    filter: contrast(200%);
}

#text-22 p{
  font: 1.2em "Fira Sans", sans-serif;
  text-emphasis: filled black;
-webkit-text-emphasis: filled black;
border-left: 2em solid;
margin-top:  200px;
}
#text-22 header{
  background-color: black;

}

#text-23 p{
  font: 1.2em "Fira Sans", sans-serif;
  text-shadow: 1px 20px 9px black, 0 0 12em black, 0 0 52em black;
  font-weight: 400;
}
#text-23 img{
  border-top: solid;
  border-bottom: 5px solid;
  outline: inherit;
    filter: contrast(900%);
    margin: 0;
}

#text-24 {
  background-color: black;
}
#text-24 p{
  background-color: white;
  border: 2rem dashed;
  border-color: black;
  font: 1.2em "Fira Sans", sans-serif;
  font-size: small;
    font-weight: 900;
    text-align: justify;
    text-transform: capitalize;

}
#readme .body{
  font-size: 62%;
  margin-top: 2rem;
  column-count: 2;
  column-gap: 2rem;

}
#règles-de-sabotage {
  width: 50%;
}
#règles-de-correction {
  width: 50%;
}
#liste-des-participants {
  width: 50%;
}
#readme h1{
  text-align: center;
  font-size: medium;
}
#readme h2{
  font-size: medium;
  text-decoration: underline overline;
}
#readme h3{
  font-size: large;
}
#readme {
  /*font: 1.2em "Fira Sans", sans-serif;*/
}
#readme li{
  font-size: small;
}
#readme p{
  font-size: small;
}
