body{

}

#couve1{
  background-color: lightpink;
  color:white;
  font-family: abrilfatface;

}
/* ton com */
#couve1 h1{
  font-size: 100pt;
  position: absolute;
  top:0;
  margin: 0;
  right:0;
}
#couve1 h1::after{
  display: block;
/*  content:"de Yasmina";*/
  font-size:20pt;
  left:0;
  position: absolute;
}
.paper{

}


#text-01
 .body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px
  font-family: abrilfatface

}

 p{
width: 60%;
}

#text-02
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
{<div style="font-style:oblique;">Juloen</div>
}
}

#text-03
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-04
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-05
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-06
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-07
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-08
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-09
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-10
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-11
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-12
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-13
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-14
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-15
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-16
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-17
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-18
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-19
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-20
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-21 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
	height: auto;
  outline: inherit;
  filter: contrast(1.95);
display: flex;  text-align: center;
}

#text-22
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}


#text-23 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  text-align: center;
	height: auto;
  outline: inherit;
	filter: grayscale(100%);
}


}

#text-24
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-25
.body{
  display:block;
<img src="assets/images/hotel-matignon.jpg" title="Matignon">
  justify-content: center;
  max-width: 50%
  filter: brightness(100%);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-26
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-27
.body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 12px
 font-family: abrilfatface
}

#text-28
.body{
 display: block;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 6px
 font-family: abrilfatface
}


#readme #onsegit1819{
  float:right;
}




h1,h2,h3{

}

p{

}
